/Global-Error-Handling-Start/GlobalErrorHandling/GlobalErrorHandling/bin
/Global-Error-Handling-Start/GlobalErrorHandling/GlobalErrorHandling/obj
/Global-Error-Handling-Start/GlobalErrorHandling/LoggerService/bin
/Global-Error-Handling-Start/GlobalErrorHandling/LoggerService/obj
/Global-Error-Handling-End/GlobalErrorHandling/GlobalErrorHandling/bin
/Global-Error-Handling-End/GlobalErrorHandling/GlobalErrorHandling/obj
/Global-Error-Handling-End/GlobalErrorHandling/LoggerService/bin
/Global-Error-Handling-End/GlobalErrorHandling/LoggerService/obj
/Global-Error-Handling-Start/GlobalErrorHandling/.vs
/Global-Error-Handling-End/GlobalErrorHandling/.vs
